:root{
    --darkblue: #082840;
    --white: #fafafa;
    --lightblue: #082840;
    --lightBackground: #e8e8e8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins',sans-serif;
    font-size: 22px;
    background-color: var(--lightBackground);
}

.nav-wrapper{
    height: 80px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

.header{
    color: var(--lightblue);
    border-bottom: 1px solid #cfd8dc;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
.logo{
    flex: 2;
}
.menu{
    flex: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-list{
    flex: 5;
    display: flex;
    list-style: none;
    gap: 20px;
}
.social{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    color: var(--darkblue);
    transition: .3s ease-in
}

.hero{
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.hero-text{
    flex: 4;
}
.hero-title{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    color: #082840;
}
.hero-title-light {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    color: #687890;
}
.hero-p{
    font-weight: 300;
}
.hero-img{
    flex: 2;
}
.hero img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 90%;
    border-radius: 120px;
    border: 8px solid #fff;
}

.service-numbers{
    display: flex;
    gap: 50px;
    color: #687890;
    margin-top: 50px;
}


.whyUs{
    display: flex;
    gap: 50px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    background-color: #687890;
    border-radius: 15px;
    padding: 20px 100px;
}
.reason{
    flex: 1;
    color: #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px 20px;
}
.reason:hover{
    background-color: #082840;
    transform: scale(1.4);
}
.reason i{
    font-size: 30px;
    margin-bottom: 20px;
}

.reason h3{
    font-size: 20px;
    margin-bottom: 20px;
}

.reason p{
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}
.aboutUs{
    height: 700px;
    display: flex;
    gap: 10px;
    padding: 10px;

}
.aboutUs p{
    font-size: 16px;
}
.images{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.images img{
    flex: 1;
    object-fit: cover;
    max-width: 400px;
}
.About-text{
    flex: 1;
}

.chooseUs{
    flex: 1;
}